/* .box {
    border-radius: 38px;
    background: linear-gradient(45deg, #347ae5, #3e92ff);
    box-shadow:  19px -19px 38px #2e6bc9, 
                -19px 19px 38px #46a5ff;
    width:150px;
    height:150px;
    margin: auto;
    padding: 10px;
} */

/* body{
    background-color:#3a88fe;
} */
html {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
body{
    background-color:#dfdbdd;
}
#edu_mun, #edu_cna, #rbi_work, #arp_work {
    font-family: 'Work Sans', sans-serif;
    color: rgb(90,9,90);
    font-size: small;
    text-align: center;
    border-radius:5px;
    border: 3px solid rgb(90, 9, 90);
    width:140px;
    height:40px;
    padding: 3px;
    /* Basic styling and alignment */
  /* For Neumorphism Effect */
    background-color:#dfdbdd;
    box-shadow: 9px 9px 20px #706e6f, -9px -9px 20px #ffffff;
}

#boxheader h1 {
    font-family: 'Work Sans', sans-serif;
    color: rgb(90,9,90);
    margin: auto;
    line-height: 180px;
    text-align: center;
    
}
#boxaboutme, #boxeducation2, #boxwork2 {
    display: flex;
}

#boxaboutme, #boxeducation2 content, #boxwork2 content {
    font-size: small;
    text-align: center;
    margin: auto;
    padding-left: 10px;
}
#boxaboutme, #boxeducation2 aside, #boxwork aside{
    width: 40%;
    padding: 4px;
    margin: auto;
}
    h2, h3 {
    font-family: 'Work Sans', sans-serif;
    color: rgb(90,9,90);
    text-align: center;
    padding: 5px;
}

#boxeducation2 content, #boxwork2 content{
    width: 200px;
    height: 100px;
    margin: auto;
}

#boxheader, #boxresume, #boxwork, #boxeducation, #boxaboutme{
  /* Basic styling and alignment */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  border-radius:50px;
  border: 10px solid rgb(90, 9, 90);
  width:450px;
  height:200px;
  padding: 10px;
    /* Basic styling and alignment */
  /* For Neumorphism Effect */
  background-color:#dfdbdd;
  box-shadow: 19px 19px 34px #706e6f, -19px -19px 34px #ffffff;
  /* box-shadow: 16px 16px 20px rgba(126, 153, 194, 0.699), -16px -16px 20px  rgba(255, 255, 255, 0.11); */
    /* For Neumorphism Effect */
}

.img-circle {
    border-radius: 50%;
}

#cna_desc, #mun_desc, #rbi_desc, #arp_desc {
    display: none;
}

#desc, #desc2{
    display: block;
}
